<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <title>Flask + Vue 增删改查入门小案例</title>
</head>

<body>
  <div class="container" id="vuejscrudapp">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h1 class="text-center">Flask + Vue 增删改查入门小案例</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- 增加记录 -->
        <div>
          <p><b-button id="show-btn" @click="showModal('my-modal')">添加人员</b-button>
          </p>
          <b-modal ref="my-modal" hide-footer title="添加人员">
            <div>
              <form action="" @submit.prevent="onSubmit">
                <div class="form-group">
                  <label for="">姓氏</label>
                  <input type="text" v-model="firstname" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">名字</label>
                  <input type="text" v-model="lastname" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">地址</label>
                  <input type="text" v-model="address" class="form-control">
                </div>
                <div class="form-group">
                  <p>
                    <button class="btn btn-sm btn-outline-info">确定添加</button>
                  </p>
                </div>
              </form>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="hideModal('my-modal')">关闭</b-button>
          </b-modal>
        </div>

        <!-- Update Record -->
        <div>
          <b-modal ref="my-modal1" hide-footer title="Update Record">
            <div>
              <form action="" @submit.prevent="onUpdate">
                <div class="form-group">
                  <label for="">姓氏</label>
                  <input type="text" v-model="edit_id">
                  <input type="text" v-model="edit_firstname" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">名字</label>
                  <input type="text" v-model="edit_lastname" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">地址</label>
                  <input type="text" v-model="edit_address" class="form-control">
                </div>
                <div class="form-group">
                  <button class="btn btn-sm btn-outline-info">确定更新</button>
                </div>
              </form>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="hideModal('my-modal1')">关闭</b-button>
          </b-modal>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>编号</th>
              <th>姓氏</th>
              <th>名字</th>
              <th>地址</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(record, i) in records" :key="record.id">
              <td>{{i + 1}}</td>
              <td>{{record.firstname}}</td>
              <td>{{record.lastname}}</td>
              <td>{{record.address}}</td>
              <td>
                <button @click="deleteRecord(record.id)" class="btn btn-sm btn-outline-danger">删除</button>
                <button @click="editRecord(record.id)" class="btn btn-sm btn-outline-info">编辑</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <!-- BootstrapVue js -->
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#vuejscrudapp',
      data: {
        firstname: '',
        lastname: '',
        address: '',
        records: [],
        edit_id: '',
        edit_firstname: '',
        edit_lastname: '',
        edit_address: ''
      },

      methods: {
        showModal (id) {
          this.$refs[id].show()
        },
        hideModal (id) {
          this.$refs[id].hide()
        },

        onSubmit () {
          if (this.firstname !== '' && this.lastname !== '' && this.address !== '') {
            var config = {
              headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*'
              }
            }
            axios.post("http://127.0.0.1:5000/insert",
              { firstname: this.firstname, lastname: this.lastname, address: this.address }, config
            )
              .then(res => {
                console.log(res)
                alert('新的人员信息，添加成功')
                this.firstname = ''
                this.lastname = ''
                this.address = ''

                app.hideModal('my-modal')
                app.getRecords()
              })
              .catch(err => {
                console.log(err)
              })
          } else {
            alert('empty')
          }
        },

        getRecords () {
          axios({
            url: 'http://localhost:5000/',
            method: 'get'
          })
            .then(res => {
              console.log(res)
              this.records = res.data.members
            })
            .catch(err => {
              console.log(err)
            })
        },

        editRecord (id) {
          axios.get("http://127.0.0.1:5000/edit/" + id)
            .then(res => {
              console.log(res.data)
              this.edit_id = res.data.editmember['id']
              this.edit_firstname = res.data.editmember['firstname']
              this.edit_lastname = res.data.editmember['lastname']
              this.edit_address = res.data.editmember['address']
              app.showModal('my-modal1')
            })
            .catch(err => {
              console.log(err)
            })
        },

        onUpdate () {
          if (this.edit_firstname !== '' && this.edit_lastname !== '' && this.edit_address !== '' && this.edit_id !== '') {

            var config = {
              headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*'
              }
            }
            axios.post("http://127.0.0.1:5000/update",
              { edit_id: this.edit_id, edit_firstname: this.edit_firstname, edit_lastname: this.edit_lastname, edit_address: this.edit_address }, config
            )
              .then(res => {
                console.log(res)
                alert('记录更新');

                this.edit_firstname = '';
                this.edit_lastname = '';
                this.edit_address = '';
                this.edit_id = '';

                app.hideModal('my-modal1');
                app.getRecords();
              })
              .catch(err => {
                console.log(err)
              })

          } else {
            alert('空记录')
          }
        },

        deleteRecord (id) {
          if (window.confirm('确定删除这条记录吗？')) {
            axios.get("http://127.0.0.1:5000/delete/" + id)
              .then(res => {
                console.log(res)
                alert('删除成功')
                app.getRecords();
              })
              .catch(err => {
                console.log(err)
              })
          }
        },

      },

      mounted: function () {
        this.getRecords()
      }
    })
  </script>
</body>

</html>